.footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(54, 54, 54);
    color: white;  
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
}
.footertitle{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 5px 0px;
}

.contact{
    width: 80%;
    margin-bottom: 10px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px
}

.icons a img{
    width: 35px;
    filter: invert(1);
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons a img:hover{
    transform: scale(1.3);

}