.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--navbg);
    padding: 0 3vw;
    width: 80vw;
    height: 90px;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;


}
.icon{
    width: 40px;
    height: 40px;
    background-image: url('../assets/list-blue-black.svg');
    background-position: center center;
    background-size: 100%;

}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.madeby,.done{
    background-color: #ffffff00;
    padding: 10px;
    border-radius: 20px;
    transition: ease-in-out 300ms;
    font-weight: 700;
    cursor: pointer;
}
.done{
    border: 3px solid var(--btn1);
    color: var(--btn1);
}
.done:hover{
    background-color:var(--btn1);
    color: white;
}
.rightside{
display: flex;
align-items: center;
justify-content: center;
font-weight: 800;
font-size: 17px;
gap: 15px;
color: rgb(40, 40, 40);
}
