:root{
    --mainbg:rgb(255, 255, 255);
    --navbg:rgba(23, 93, 255, 0.315);
    --btn1:rgb(22, 182, 236);
    --card:rgba(255, 255, 0, 0.337);

}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body{
 background-color: var(--mainbg);
overflow-x: hidden;
}